:root {
    --color: linear-gradient(to right, #75DD82 0%, #75DD82 50%, gray 50%, gray 100%)
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 8px 0 8px;
}

#modal-content {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 16px;
    position: fixed;
    z-index: 2;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    overflow: hidden visible;
}

::-webkit-scrollbar {
    appearance: none;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 8px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.modal-title-ctn {
    flex: 0 0 80%;
}

.modal-exit-ctn {
    flex: 0 0 10%;
}

#modal-title {
    font-size: 4vw;
    color: rgb(105, 179, 115);
    font-family: "Comic Sans MS", sans-serif;
}

#modal-exit {
    width: 80%;
    aspect-ratio: 1/1;
}

#overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    
}

@keyframes overlay {
    from {
        background-color: rgba(0,0,0,0);
        backdrop-filter: blur(0px)
    }
    to {
        background-color: rgba(0,0,0,0.2);
        backdrop-filter: blur(3px)
    }
}

.header {
    position: relative;
    display: flex;
    max-height: 100px;
    border-bottom: 1px solid black;
}

.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-container {
    flex: 0 0 15%;
}

.title-container {
    flex: 0 0 70%;
}

#app-title {
    font-size: 6vw;
    color: rgb(105, 179, 115);
    font-family: "Comic Sans MS", sans-serif;
}

.player-container {
    display: flex;

    justify-content: center;
    align-content: center;

    margin-bottom: auto;
    margin-top: auto;
}

#cover {
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: rgb(191, 233, 196);
    border-radius: 16px;
    margin: 0 15% 15% 15%;
    width: 80%;
    max-width: 600px;
    aspect-ratio: 1/1;
}
  
.placeholder {
    background-color: #eee;
    max-height: 100%;
}

.playlist-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: grab;
}

.playlist-text {
    flex: 80%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.playlist-title {
    font-size: 6vw;
    font-family: "Comic Sans MS", sans-serif;
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}

.playlist-artist {
    font-size: 4vw;
    font-family: "Comic Sans MS", sans-serif;
    color: gray;
    flex: 20%;
}

.playlist-thumbnail {
    flex: 40%;
    max-width: 20%;
    aspect-ratio: 1/1;
    padding: 10px;
    border-radius: 16px;
}

.fallback-thumbnail {
    background-color: rgb(191, 233, 196);
    border-radius: 8px;

    scale: 0.8;
}

.player-controls {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-overlay {
    padding-bottom: 10px;
    flex: 1%;

    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;

    text-align: center;
    font-size: 42px;
    font-family: "Comic Sans MS", sans-serif;
}

#author-overlay {
    padding-bottom: 10px;
    flex: 1%;

    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;

    text-align: center;
    font-size: 28px;
    color: gray;
    font-family: "Comic Sans MS", sans-serif;
}

#time-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#progress-slider { 

    flex: 80%;
    height: 20px;

    appearance: none;
    background-color: transparent;

}

#song-time {
    flex: 10%;
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
}

#song-duration {
    flex: 10%;
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
}

#progress-slider::-webkit-slider-thumb {
    appearance: none;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 5px;
    height: 24px;
    width: 12px;
    margin-top: -4px;

    transition: background-color 0.1s, height 0.2s, width 0.2s, margin-top 0.2s;
}

#progress-slider::-webkit-slider-thumb:hover {
    border: 1px solid #000;
    background-color: #ccc;
}

#progress-slider::-webkit-slider-thumb:active {
    appearance: none;
    border: 1px solid #000;
    background-color: #999;
    border-radius: 5px;
    height: 18px;
    width: 12px;
    margin-top: -2px;
}

::-webkit-slider-runnable-track {
    background: var(--color);
    border-radius: 10px;
    height: 60%;
}

#player-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

    column-gap: 2%;
}

.button {
    max-width: 60%;
    max-height: 80%;
    cursor: pointer;

    transition: opacity 0.1s, transform 0.1s;
}

.player-button {
    max-width: 10%;
    min-width: 10%;
    padding: 10px;
    flex: 1;
}

.button:hover {
    opacity: 0.7;
    transform: scale(0.9);
}



@media (min-aspect-ratio: 1/1) {

    #app-title {
        font-size: 64px;
    }

    .player-container {
        padding: 0;
    }

    #cover {
        margin: 0;
        width: 30%;
        max-width: 500px;
    }

    #title-overlay {
        font-size: 36px;
    }
    
    #author-overlay {
        font-size: 24px;
        margin-bottom: 15px;
    }

    #player-btn-container {
        column-gap: 5%;
    }

    .player-button {
        scale: 0.8;
    }


}